{% extends 'base.html' %}
{% load staticfiles %}

{% block content%}

        <!-- Header section start -->
        <section class="hero-section">
            <div class="hero-slider owl-carousel">
                <div class="hs-item set-bg sp-pad" data-setbg="{% static 'img/hero-slider/1.jpg' %}">
                    <div class="hs-text">
                        <h2 class="hs-title"><i id="avatar" class=" center-align fa fa-user-circle" img src="{{profile.avatar}}"></i> {{user.username}}</h2>
                        <p class="hs-des">{{profile.email}}</p>
                        <p class="hs-des">{{profile.description}}</p>
                    </div>
                </div>
        </section>
{%endblock%}