{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content%}

        <!-- Header section start -->
        <section class="hero-section">
            <div class="hero-slider owl-carousel">
                <div class="hs-item set-bg sp-pad" data-setbg="{% static 'img/hero-slider/1.jpg' %}">
                    <div class="hs-text">
                        <h2 class="hs-title"><i id="avatar" class=" center-align fa fa-user-circle" img src="{{profile.avatar}}"></i> {{project.title}}</h2>
                        <p class="hs-des">{{project.description}}</p>
                        <p class="hs-des">Design:{{project.design}} Content:{{project.content}} Usability:{{project.usability}}</p>
                        <p class="hs-des">Total votes:{{project.vote_submissions}}</p>
                    </div>
                </div>
        </section>

        <h3 class="text-center header"> Rate Project</h3>
        <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                          <div class="card text-center">
                                  <div class="card-body">
                                    <h5 class="card-title">Update Profile</h5>
                                 
                                      <hr>
                                      <form class="" action="" method="post" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          {% bootstrap_form form %}
                                      <div class="form-group">
                                          <input type="submit" class="btn btn-primary" value="Update Profile">
                                      </div>
                                   </form>
                              </div>
                          </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
<div class="row">
{%endblock%}